@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome page goes here</h1>


    <!--
<form method="post" asp-controller="Home" asp-action="SubmitForm">
    <label>Name:</label>
    <input type="text" name="UserName" />
    <br />
    <label>Email:</label>
    <input type="text" name="UserEmail" />
    <br />
    <button type="submit">Submit</button>
    -->
    @*<form method="post" asp-controller="Home" asp-action="SubmitForm">
    <label>Name:</label>
    <input asp-for="UserName" />
    <br />
    <label>Email:</label>
    <input asp-for="Password" />
    <br />
    <button type="submit">Submit</button>
</form>*@
          
</div>
