@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
Google Analytics stores cookies on your users' PCs to keep track of usage data. This is enough to evoke the requirement of a Privacy Policy according to the EU Cookies Directive. The EU's GDPR also requires a Privacy Policy when usage data is collected, such as through cookies.

When you use Google Analytics, you can opt-in to getting access to analytics and usage data plus advertising features that allow you to create better marketing campaigns. The use of these features that include retargeting triggers the requirement to update your Privacy Policy to inform users about your usage of retargeting identifiers through Google's network.

In the Google Analytics Terms of Service agreement there's a requirement that users of Google Analytics must have a Privacy Policy agreement in place.

There are a few things you need to do if you take advantage of the standard features offered by Google Analytics. We'll review them now and show you how to implement them.
</p>
